.app-container {
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}

.app-wrapper.light { background: white; color: black; }
.app-wrapper.dark { background: #222; color: white; }
.app-wrapper {min-height: 100vh; width: 100%; }

.card {
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #646cff;
}